{% extends 'base.html' %}
{% block content %}

<div class="row justify-content-left">
    <div class="col-md-4 col-md-offset-4">
        <div class="card border-0 shadow-sm">
            <div class="card-body p-4 p-sm-5">
                <div class="text-center mb-4">
                    <h2 class="card-title">Welcome Back</h2>
                    <p class="text-muted"> Sign in to manage your posts!</p>
                </div>

                {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Error</strong> Invalid username/password
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}

                <form method="POST">
                    {% csrf_token %}
                    <div class="from-group">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" name="username" placeholder="Enter your username" required>
                    </div>

                    <div class="from-group">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" placeholder="Enter your password" required>
                    </div>

                    <div class="from-group" style="margin-top: 10px;
    margin-bottom: 10px;">
                        <button type="submit" class="btn btn-primary form-control">Login
                        </button>
                    </div>

                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <div class="from-check">
                            <input type="checkbox" name="remember" id="remember">
                            <label class="from-check-label" for="remember">Remember Me</label>
                        </div>
                        <a href="#" class="text-decoration-none">Forgot password?</a>
                    </div>

                    <hr class="my-4">

                    <div class="text-center">
                        <p class="text-muted mb-2"> Don't have an account?</p>
                        <a href="{% url 'register' %}" class="btn btn-outline-primary">
                            <i class="fas fa-user-plus me-2"></i>
                            Create Account
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}